# Google Sheets Configuration
SPREADSHEET_ID= 12KU8DJfsIQz2d57ajVA9r-HE2ktT1qUK7d2oyFKJwis
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=your_private_key_here
# The range in your Google Sheet where the monthly target is stored (e.g., 'Config!B1')
GOOGLE_SHEET_TARGET_RANGE=rutve!I2

# Frontend API Configuration (update after deployment)
VITE_API_BASE_URL=https://your-vercel-domain.vercel.app/api
